html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    /* text-align: justify; ensures that there is no empty spaces in the line */
    line-height: 1.5;
    color: #302f2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 500;
    color: #222222;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: #3B82F6;
    text-decoration: none;
}

a:hover,
a:focus {
    color: purple;
}

#navbar {
    padding: 8px;
    margin: 0;
}

#logo {
    display: none;
}

#logo-2 {
    display: block;
}

#banner {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    margin: 12px 0;
    /* padding: 12px; */
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    /* font-size: 1rem; */
    margin: 0 auto;
    padding: 8px;
}

#description {
    /* font-style: italic; */
    font-size: 1.25rem;
    margin: auto;
    padding: auto;
    width: 500px;
}

#team {
    margin: auto;
    padding: 20px;
    /* display: block; */
}

#team-image {
    border-radius: 5px;
    border-color: black;
    border: 10px solid;
    width: 400px;
    height: 200px;
}

#jobs {
    display: none;
}

h2 {
    text-align: center;
}

.job {
    padding: 12px;
    border: 2px solid black;
    margin: 20px auto;
    width: 240px;
}

#jobs-list {
    margin: auto;
}

@media screen and (min-width: 576px) {
    body {
        font-size: 16px;
    }

    #logo {
        display: block;
    }

    #logo-2 {
        display: none;
    }

    #banner {
        height: 220px;
    }

    h1 {
        text-align: center;
        margin: 16px 0;
    }

    #about {
        max-width: 800px;
        /* font-size: 1rem; */
    }

    #description {
        /* width: 50%; */
        /* margin: auto 40px auto 40px; */
        /* font-style: italic; */
        padding-right: 8px;
        text-align: justify;
    }

    #team-image {
        width: 400px;
        height: 250px;
    }

    .job {
        width: 340px;
    }
}

@media screen and (min-width: 768px) {
    #banner {
        height: 250px;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    #about {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        /* font-size: 1rem; */
        margin: 0 auto;
        padding: 8px;
    }

    #description {
        width: 50%;
        margin: auto;
        /* font-style: italic; */
        padding-right: 8px;
        min-width: 400px;
    }

    #team {
        width: 50%;
        margin-left: 50px;
    }

    #team-image {
        width: 400px;
    }

    #jobs-list {
        display: none;
    }

    #jobs {
        display: block;
    }

    h2 {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    table,
    th {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: center;
    }

    th {
        background-color: #DBEAFE;
        font-size: 1.25rem;
    }

    .data tr:nth-child(odd) {
        background-color: #EFF6FF;
    }

    td {
        border: 1px solid gray;
        font-size: 1rem;
    }

    #jobs {
        max-width: 800px;
        margin: auto;
        box-shadow: 5px 10px #d8d5d5;
        /* padding: 0 10px; */
    }

}